@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>About</h1>
  <p>Our team is dedicated to making the very best platform and tools, running on Windows Azure.</p>
  <p><a class="btn btn-primary btn-large" href="http://www.windowsazure.com" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>Who</h2>
    <p>We're the Azure Application Platform Team</p>
  </div>
  <div class="span4">
    <h2>What</h2>
    <p>We work on the framework and tools for Azure</p>
  </div>
  <div class="span4">
    <h2>When</h2>
    <p>99.999% of the time :)</p>
  </div>
</div>