@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Contact us</h1>
  <p>Visit <a href="http://www.microsoft.com/careers" target="_blank">Microsoft Careers</a> for more information, or submit the form below.</p>
</div>

